<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <servlet-name>user</servlet-name>
  <servlet-class>com.personalinfo.servlet.UserServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>contact</servlet-name>
  <servlet-class>com.personalinfo.servlet.ContactServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>diary</servlet-name>
  <servlet-class>com.personalinfo.servlet.DiaryServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>finance</servlet-name>
  <servlet-class>com.personalinfo.servlet.FinanceServlet</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>memorandum</servlet-name>
  <servlet-class>com.personalinfo.servlet.MemorandumServlet</servlet-class>
 </servlet>

 <servlet-mapping>
  <servlet-name>user</servlet-name>
  <url-pattern>/user</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>contact</servlet-name>
  <url-pattern>/contact</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>diary</servlet-name>
  <url-pattern>/diary</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>finance</servlet-name>
  <url-pattern>/finance</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>memorandum</servlet-name>
  <url-pattern>/memorandum</url-pattern>
 </servlet-mapping>
 
 
 <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
  
</web-app>