<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <servlet-name>user</servlet-name>
  <servlet-class>com.blog.servlet.UserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>link</servlet-name>
  <servlet-class>com.blog.servlet.LinkServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>feedback</servlet-name>
  <servlet-class>com.blog.servlet.FeedbackServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>sort</servlet-name>
  <servlet-class>com.blog.servlet.SortServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>article</servlet-name>
  <servlet-class>com.blog.servlet.ArticleServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>user</servlet-name>
  <url-pattern>/user</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>link</servlet-name>
  <url-pattern>/link</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>feedback</servlet-name>
  <url-pattern>/feedback</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>sort</servlet-name>
  <url-pattern>/sort</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>article</servlet-name>
  <url-pattern>/article</url-pattern>
 </servlet-mapping>
 
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
 
</web-app>
